.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.row {
    display: flex;
    gap: 1px;
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}