.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    /* gap: 1px; */
    /* border: 5px solid black; */
}

.row {
    display: flex;
    /* gap: 1px; */
}

.pixel {
    width: 20px;
    height: 20px;
    border: .5px solid lightgrey;
    box-sizing: border-box;
}

.config-button {
    width: 150px;
    height: 25px;
    /* border: 5px solid lightgrey; */
    /* background-color: blue; */
    /* color: white; */
}

.grid-container {
    display: flex;
    flex-direction: column;
    /* width: 960px; */
    /* height: 960px; */
    border: 5px;
    border-color: black;
    ;
}